{% extends "../base.html" %} {% load static %}

{% block content %}
<style>
  /* styles.css */
.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  align: center; 
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; 
}

</style>
<form method="post" style="background-color: #f2f2f2; padding: 20px;">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px;">
</form>

  {% endblock content %}

